* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: sans-serif;
    background-color: #e8e8e8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 75%;
    gap: 100px;
}

#foto {
    width: 100%;
    border: 1px;
    border-style: solid;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

#textApresentacao {
    background-color: #E6F0FA;
    padding: 5px;
    text-align: center;
    border: 1px;
    border-style: solid;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    div {
        border: 1px;
        border-style: solid;
        border-color: #3B82F6;
        padding: 10px;
    }
}

.sobre {
    height: 50%;
    background-color: #E6F0FA;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.experiencia {
    height: 50%;
    background-color: #E6F0FA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer {
    background-color: #E6F0FA;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    border: 0px;
    border-top: 2px;
    border-style: solid;
}

.cttCard {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cttCards {
    display: flex;
    gap: 10px;
    padding: 5px;

    img {
        height: 30px;
    }
}

.sombra {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

p {
    font-size: large;
}